<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../parts/headers.ejs') %>
    <title>NekoNya, website for nekos</title>
</head>
<body style="background-color: #bbbbbb;" class="d-flex flex-column min-vh-100">
    <%- include('../parts/nav.ejs') %>
    <div id="particles-js"></div>
    <div class="container main">
        <div class="row">
            <div class="col">
                <h1 class="text-center">Welcome to NekoNya!</h1>
            </div>
        </div>
        <div class="row center">
            <div class="image-main-frame">
                <img src="" alt="" id="neko" />
            </div>
            <div class="btn-group width-main" role="group">
                <button role="button" class="btn btn-primary" id="new"><span id="text"><i class="bi bi-arrow-counterclockwise"></i> New one!</span></button>
                <a role="button" class="btn btn-primary" href="/random/neko"><i class="bi bi-link-45deg"></i> Better experience in the random page!</a>
                <a role="button" class="btn btn-primary" id="download"><i class="bi bi-download"></i> Download image!</a>
            </div>
        </div>
    </div>
    <div class="container py-5">
        <div class="row" id="about">
            <div class="col-md-12">
                <h2>About</h2>
                <p>Made by TheDogHusky aka ClassyCrafter, NekoNya is a website for nekos, kitsunes, and other anime things. We have a random image picker, and an API for developers to use. We also have a discord server for you to post images and chat with other people. We hope you enjoy your stay!</p>
            </div>
        </div>
        <div class="row">
            <h2 class="text-center">Why us?</h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col py-5">
                <div class="card h-100 text-center opacity-75">
                    <i class="bi bi-file-earmark-code-fill header-icon"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">Free to use, maybe</h5>
                        <p class="card-text">We can't really tell if our images are free to use, we just got 'em downloading from some databases, without filtering. But let's say it is, right?</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/random" class="btn btn-success opacity-100">Try out</a>
                    </div>
                </div>
            </div>
            <div class="col py-5">
                <div class="card h-100 text-center opacity-75">
                    <i class="bi bi-lightning-charge-fill header-icon"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">Fast</h5>
                        <p class="card-text">The website is made on ExpressJS, and constantly optimized, to bring you the fastest API and deliver you some images fast.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/random" class="btn btn-success opacity-100">Try out</a>
                    </div>
                </div>
            </div>
            <div class="col py-5">
                <div class="card h-100 text-center opacity-75">
                    <i class="bi bi-braces-asterisk header-icon"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">API</h5>
                        <p class="card-text">This website also has an API for developers to use, you can use the API to get random images.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/api/v1/endpoints" class="btn btn-success opacity-100">Look at the endpoints</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--How does it work?-->
    <div class="container py-5" id="howto">
        <div class="row">
            <div class="col-md-12">
                <h2>How it works</h2>
                <p>This website will generate a random neko image, or kitsune image (or a lot more) when you reload the type's page and the button.</p>
            </div>
            <a class="btn btn-primary" href="/random">Get in da nekos!</a>
        </div>
    </div>
    <%- include('../parts/footer.ejs') %>
    <script src="/scripts/particles.js"></script>
    <script src="/scripts/common.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>