@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

$primary: #eb7763;
$secondary: #adadad;
$danger: #f44336;
$warning: #ff9800;
$success: #7ed957;
$info: #2196f3;
$light: #fafafa;
$dark: #212121;

$themes-color: (
  "primary": $primary,
  "secondary": $secondary,
  "danger": $danger,
  "warning": $warning,
  "success": $success,
  "info": $info,
  "light": $light,
  "dark": $dark
);

.header-icon {
  font-size: 100px;
}

@each $name, $color in $themes-color {
  .btn-#{$name} {
    background-color: $color !important;
    border-color: $color !important;
    border-width: 2px;
    color: #fff;
    transition: all 0.3s ease !important;
    border-radius: 3px !important;
    padding: 7px 20px !important;
    font-size: 16px !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: darken($color, 10%) !important;
      border-color: darken($color, 10%) !important;
    }
    &:focus, &:active {
      transform: scale(0.95);
    }
  }
}

.card {
    border: 0;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    &:hover {
        transform: translateY(-0.25rem);
    }
}

.row.center {
    justify-content: center;
    align-items: center;
    text-align: center;
}

@import "../../../node_modules/bootstrap/scss/bootstrap";

.width-main {
  width: 720px;
  margin-top: 10px;
  gap: 10px;
}

.width-normal {
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}

.image-main-frame {
  width: 720px;
  height: 720px;
  border-radius: 0.5rem;
  border-color: $primary;
  padding: 0;
  margin: 0;
  border-width: 2px;
  border-style: solid;
  overflow: hidden;
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.navbar > .container-fluid > .navbar-brand {
  position: absolute;
}

.navbar-brand-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none !important;
  color: var(--bs-navbar-brand-color);
}

.navbar-brand-items > p {
  margin-bottom: auto;
  margin-top: auto;
  text-decoration: none;
  color: var(--bs-navbar-brand-color);
  border: none;
}

.w-fit-content {
  width: fit-content;
}

@media screen and (max-width: 990px) {
  .navbar > .container-fluid > .navbar-brand {
    position: relative;
  }
}

@media screen and (max-width: 800px) {
  .image-main-frame {
    width: 600px !important;
    height: 600px !important;
  }
}

@media screen and (max-width: 720px) {
  .width-main > * {
    font-size: 0.7rem !important;
  }

  .width-normal > * {
    font-size: 0.7rem !important;
  }

  .width-normal > .btn {
    padding: 4.5px 16px !important;
  }

  .width-main > .btn {
    padding: 4.5px 13px !important;
  }

  .image-main-frame {
    width: 360px !important;
    height: 360px !important;
  }
}

@media screen and (max-width: 400px) {
    .image-main-frame {
        width: 300px !important;
        height: 300px !important;
    }
}