<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 px-5 mt-4 bg-light">
    <div class="col-md-4 d-flex align-items-center">
        <span>© 2021-2024 Copyright:</span>
        <a class="ms-1 text-reset fw-bold" href="https://github.com/NekoNyaDevs">NekoNya Developers</a>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex fs-3">
        <li class="ms-3"><a href="https://github.com/NekoNyaDevs/website" class="text-reset"><i class="bi bi-github"></i></a></li>
        <li class="ms-3"><a href="/l/discord" class="text-reset"><i class="bi bi-discord"></i></a></li>
        <li class="ms-3"><a href="/l/contact" class="text-reset"><i class="bi bi-envelope-fill"></i></a></li>
    </ul>
</footer>