<nav class="navbar navbar-expand-lg bg-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="navbar-brand">
            <a class="navbar-brand-items" href="#">
                <img src="/static/assets/logo_rounded.png" alt="Brand PNG" width="40" height="40">
                <p href="#">NekoNya</p>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <% if(page === "/") { %>active<% } %>" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <% if(page.startsWith('/blog')) { %>active<% } %>" href="/blog">Blog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Random Images
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="imagesDropdown">
                        <li><a class="dropdown-item" href="/random/neko">Random Neko</a></li>
                        <li><a class="dropdown-item" href="/random/kitsune">Random Kitsune</a></li>
                        <li><a class="dropdown-item" href="/random/hug">Random Hug</a></li>
                        <li><a class="dropdown-item" href="/random/kiss">Random Kiss</a></li>
                        <li><a class="dropdown-item" href="/random/pat">Random Pat</a></li>
                        <li><a class="dropdown-item" href="/random/slap">Random Slap</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown" aria-labelledby="utilitiesDropdown">
                    <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Utilities
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/api/v1/8ball?cute=true">8ball</a></li>
                        <li><a class="dropdown-item" href="/api/v1/owoify?text=">Owoify</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Others
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="otherDropdown">
                        <li><a class="dropdown-item" href="/api/v1/">API</a></li>
                        <li><a class="dropdown-item" href="/random/lewd">NSFW</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" target="_blank" href="/discord">Post images</a></li>
                        <li><a class="dropdown-item" target="_blank" href="/contact">Contact Us</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://docs.classy.works/nekonya-api-docs">API Docs</a></li>
                        <li><a class="dropdown-item" target="_blank" href="https://github.com/NekoNyaDevs">Github</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item disabled" href="#">More Soon...</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>